---
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import "../global.css";
import { getLangFromUrl } from "../i18n/utils";

type Props = {
  title: string,
  desc: string
}
const lang = getLangFromUrl(Astro.url);
const { title, desc } = Astro.props;
const defaultTheme = "light";
---

<script>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  const body = document.getElementsByTagName("body")[0];
  if (theme === "light") {
    body.setAttribute("data-theme", "light");
  } else {
    body.setAttribute("data-theme", "dark");
  }
</script>

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml">
    <meta name="viewport" content="width=device-width" />
    <meta name="desc" content={desc} />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title}>
    <meta name="description" content={desc}>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content={Astro.site}>
    <meta property="og:title" content={title}>
    <meta property="og:description" content={desc}>
    <meta property="og:image" content="https://bikeblog2.sebastiani.io/assets/images/bikepacking-2022-splash.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content={Astro.site}>
    <meta property="twitter:title" content={title}>
    <meta property="twitter:description" content={desc}>
    <meta property="twitter:image" content="https://bikeblog2.sebastiani.io/assets/images/bikepacking-2022-splash.webp">
  </head>
  <body data-theme={defaultTheme}>
    <div class="flex flex-col min-h-screen">
      <main class="flex-1">
        <Header />
        <section>
          <slot />
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
